################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SolarSystem/v16/Browse.VC.opendb
/.vs/SolarSystem/v16/Browse.VC.db
